</main>
<footer class="footer">
	<div class="footer-top">
		<div class="social-medias">
			<ul>
				<li><h2>Communautaire</h2></li>
				<li><%= link_to image_tag('facebook-icon.png', :alt => 'Facebook page') + ' Facebook', 'http://facebook.com', :target => '_blank' %></li>
				<li><%= link_to image_tag('googleplus-icon.png', :alt => 'Google + page') + ' Google+', 'http://plus.google.com', :target => '_blank' %></li>
				<li><%= link_to image_tag('twitter-icon.png', :alt => 'Twitter page') + ' Twitter', 'http://twitter.com', :target => '_blank' %></li>
			</ul>
		</div>
		<div class="newsletter">
			<form action="http://aventurapleinair.us7.list-manage.com/subscribe/post?u=76f07b350800281685ec9af96&amp;id=dada7784fd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate clearfix ok-form" target="_blank" novalidate>
				<h2>Infolettre</h2>
				<p>Retrouvez toute l'actualité de vos activités favorites</p>
				<input type="email" value="" name="EMAIL" class="email" id="newsletter-email" placeholder="Votre adresse email" required>
				<button type="submit" class="submit">Ok</button>
				</ul>
			</form>
		</div>
		
		<section class="description-max">
			<%= image_tag 'max-image.png' %>
			<h1>Maxime <span>Le sportif passionné</span></h1>
			<p>Pour certains le cyclisme, pour d’autres le ski, Maxime, lui, est passionné par toutes les activités de plein air.</p>
			<p>Etudiant dans le domaine de l’administration et du tourisme il est le directeur d’Aventura Plein Air permettant aux passionnés de retrouver toutes leurs activités de plein air favorites et de nombreuses informations sur les événements sportifs ou encore les lieux les plus extraordinaires pour pratiquer leur passion.</p>
		</section>
	</div>
	<div class="footer-bottom">
		<nav class="footer-nav">
			<h1>Navigation du footer</h1>
			<ul>
				<li><%= link_to	'Activités', 'activities_url' %>
					<ul>
						<li><%= link_to 'Activités nautiques', 'activities_id_url' %></li>
						<li><%= link_to 'Observation', 'activities_id_url' %></li>
						<li><%= link_to 'Escalade', 'activities_id_url' %></li>
					</ul>
				</li>
				<li><%= link_to 'Top 10', 'top10_url' %>
					<ul>
						<li><%= link_to 'Destinations', 'top_destinations_url' %></li>
						<li><%= link_to 'Activités', 'top_activities_url' %></li>
						<li><%= link_to 'Videos', 'top_videos_url' %></li>
					</ul>
				</li>
			</ul>
			<ul>
				<li><%= link_to 'Lieux', 'locations_url' %>
					<ul>
						<li><%= link_to 'Bas Saint-Laurent', 'location_id_url' %></li>
						<li><%= link_to 'Estrie', 'location_id_url' %></li>
						<li><%= link_to 'Mauricie', 'location_id_url' %></li>
					</ul>
				</li>
			</ul>
			<ul>
				<li><%= link_to 'Événements', 'events_url' %>
					<ul>
						<li><%= link_to 'Activités nautique', 'event_id_url' %></li>
						<li><%= link_to 'Randonnées', 'event_id_url' %></li>
						<li><%= link_to 'Escalade', 'event_id_url' %></li>
					</ul>
				</li>
				<li><%= link_to 'À propos', 'about_url' %></li>
				<li><%= link_to 'Reviews', 'reviews_url' %></li>
				<li><%= link_to 'Chroniques', 'chroniques_url' %></li>
				<li><%= link_to 'Témoignages', 'temoignages_url' %></li>
				<li><%= link_to 'Équipements', 'equipement_url' %></li>
			</ul>
		</nav>
		<section class="photograph">
			<h1>Mathieu Dupuis <span>Photographe de talent</span></h1>
			<%= image_tag 'mathieu-dupuis.png' %>
			<h2>Live what you love...</h2>
			<p>Établi à Montréal, Mathieu Dupuis allie passion et créativité pour offrir à ses clients une expertise et une expérience de haut niveau en photographie numérique...Il adore sortir de sa zone de confort et mettre sa créativité à l’épreuve. Rapidité et rigueur mathieu véhicule des valeurs qui lui sont chères.</p>
			<p>Le photographe du dehors est à l’aise sur tous les types de terrains. Il a acquis une solide réputation au fil des années et offre une expertise en art numérique qui apporte énormément à notre site internet Aventura Plein Air.</p>
			<p>Un grand merci pour sa collaboration!</p>
			<p class="red">L’équipe Aventura.</p>
		</section>
	</div>
</footer>