</div>
<footer class="footer">
	<div class="footer-wrapper">
		<div class="footer-left">
			<nav class="footer-nav">
				<h1><%= t(:"include.footer_nav") %></h1>
				<ul>
					<li><%= t(:"include.activities") %>
						<% if @menu_activity_category %>
							<ul>
								<% @menu_activity_category.each do |activity_category| %>
										<% if activity_category.activity.where('online = true').any? %>
												<% activity_category.activity.where('online = true').limit(10).each do |activity| %>
													<% if match_season(activity.season) %>
														<li>
															<%= link_to activity.name , activity_url(activity.id) %>
														</li>
														<li><%= match_season(activity.season) %></li>
													<% end %>
												<% end %>
										<% end %>
								<% end %>
							</ul>
						<% end %>
					</li>
					<li><%= 'Top 10' %>
						<ul>
							<li><%= link_to t(:"locations"), top_location_index_url %>
							<li><%= link_to t(:"include.activities"), top_activity_index_url %>
							<li><%= link_to t(:"include.events"), top_event_index_url %>
						</ul>
					</li>
				</ul>
				<ul>
					<li><%= link_to t(:locations) , location_index_url %>
						<% if @menu_administrative_region %>
						<ul>
							<% @menu_administrative_region.each do |administrative_region| %>
									<% if administrative_region.location.where('online = true').any? %>
										<% administrative_region.location.where('online = true').order(:name).limit(10).each do |location| %>
											<li><%= link_to location.name , location_url(location.id) %>
										<% end %>
									<% end %>
							<% end %>
						</ul>
					<% end %>
					</li>
				</ul>
				<ul>
					<li><%= link_to t(:events) , event_index_url %>
						<% if @menu_event %>
						<ul>
							<% @menu_event.limit(10).each do |event| %>
							<% if match_season(event.season) %>
								<li><%= link_to event.name, event_url(event.id) %></li>
							<% end %>
							<% end %>
						</ul>
						<% end %>
					</li>
					<li><%= link_to t(:about), about_page_index_url %></li>
				</ul>
			</nav>
		</div>
		<div class="social-medias">
				<ul>
					<li><h2><%= t(:"include.community") %></h2></li>
					<li><%= link_to image_tag('facebook-icon.png', :alt => 'Facebook page') + ' Facebook', 'http://facebook.com', :target => '_blank' %></li>
					<li><%= link_to image_tag('googleplus-icon.png', :alt => 'Google + page') + ' Google+', 'http://plus.google.com', :target => '_blank' %></li>
					<li><%= link_to image_tag('twitter-icon.png', :alt => 'Twitter page') + ' Twitter', 'http://twitter.com', :target => '_blank' %></li>
				</ul>
			</div>
			<div class="newsletter">
				<form action="http://aventurapleinair.us7.list-manage.com/subscribe/post?u=76f07b350800281685ec9af96&amp;id=dada7784fd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate clearfix ok-form" target="_blank" novalidate>
					<h2><%= t(:"include.newsletter") %></h2>
					<p><%= t(:"include.newsletter_description") %></p>
					<input type="email" value="" name="EMAIL" class="email" id="newsletter-email" placeholder="<%= t(:"include.newsletter_placeholder") %>" required>
					<input type="submit" class="submit" value="Ok" />
				</form>
			</div>
	</div>
</footer>