<header class="header">
	<nav class="options-nav">
		<ul>
			<li class="season" ><%= link_to t(:"include.winter"), set_season_winter_path if session[:season] == :summer or not session[:season] %><%= link_to t(:"include.summer"), set_season_summer_path if session[:season] == :winter %></li>
			<li class="language" ><%= link_to "English", set_language_english_path unless I18n.locale == :en %><%= link_to "Français", set_language_french_path unless I18n.locale == :fr %></li>
		</ul>
	</nav>
	<ul class="social-nav">
		<li><%= link_to image_tag('facebook-icon.png', :alt => 'Facebook page'), 'http://facebook.com', :target => '_blank' %></li>
		<li><%= link_to image_tag('googleplus-icon.png', :alt => 'Google + page'), 'http://plus.google.com', :target => '_blank' %></li>
		<li><%= link_to image_tag('twitter-icon.png', :alt => 'Twitter page'), 'http://twitter.com', :target => '_blank' %></li>
	</ul>
	<%= link_to image_tag('logo-aventura.png', :alt => 'Aventura plein air', :class => 'logo', :width => 260, :height => 211), root_url %>
	<div class="right-side">
		<%= form_tag({controller: "search", action: "index", method: "get"}, {:class => 'ok-form'}) do %>
			<input type="text" name="search" placeholder="<%= t(:"include.search") %>..." />
			<input type="submit" class="submit" value="Ok" />
		<% end %>
		<nav class="main-nav">
			<h1><%= t(:"include.main_nav") %></h1>
			<ul>
				<li><span><%= t(:"include.activities") %></span>
					<% if @menu_activity_category %>
						<ul class="sub-menu activity">
							<%	a = 0 %>
							<% @menu_activity_category.each do |activity_category| %>
								<% if activity_category.activity.where('online = true').any? %>
									<li><span><%= activity_category.name %></span>
										<ul>
											<% activity_category.activity.where('online = true').each do |activity| %>
												<% if match_season(activity.season) %>
													<li><%= link_to activity.name , activity_url(activity.id) %>
													<% a = a + 1 %>
												<% end %>
											<% end %>
											<% if a == 0 %>
												<li><span class="white"><%= t(:"include.no_activity") %></span></li>
											<% end %>
										</ul>
								<% end %>
							<% end %>
						</ul>
					<% end %>
				</li>
				<li><%= link_to t(:locations) , location_index_url %>
					<% if @menu_administrative_region %>
						<ul class="sub-menu location">
							<% @menu_administrative_region.each do |administrative_region| %>
								<% if administrative_region.location.where('online = true').any? %>
									<li><span><%= administrative_region.name %></span>
										
										<ul>
											<% administrative_region.location.where('online = true').each do |location| %>
												<li><%= link_to location.name , location_url(location.id) %>
											<% end %>
										</ul>
										
								<% end %>
							<% end %>
						</ul>
					<% end %>
				</li>
				<li><%= link_to t(:events) , event_index_url %>
					<% if @menu_event %>
					<ul class="sub-menu">
						<%	a = 0 %>
						<% @menu_event.each do |event| %>
							<% if match_season(event.season) %>
								<li><%= link_to event.name, event_url(event.id) %>
								<% a = a + 1 %>
							<% end %>
						<% end %>
						<% if a == 0 %>
							<li><span><%= t(:"include.no_event") %></span></li>
						<% end %>
					</ul>
					<% end %>
				</li>
				<li><span><%= 'Top 10' %></span>
					<ul class="sub-menu top-ten">
						<li><%= link_to t(:"locations"), top_location_index_url %>
						<li><%= link_to t(:"include.activities"), top_activity_index_url %>
						<li><%= link_to t(:events), top_event_index_url %>
					</ul>
				</li>
				<li><%= link_to 'Xavier Dachez', 'http://xavierdachez.photodeck.com/', :target => '_blank' %></li>
				<li><%= link_to t(:about), about_page_index_url %></li>
			</ul>
		</nav>
	</div>
</header>
<div class="main content">