<header class="header">
	<nav class="options-nav">
		
		<%= form_tag({controller: "search", action: "index", method: "get"}, {:class => 'ok-form'}) do %>
			<input type="text" name="search" placeholder="<%= t(:"include.search") %>..." />
			<input type="submit" class="submit" value="Ok" />
		<% end %>
		<ul>
			<li class="language" ><%= link_to "English", set_language_english_path unless I18n.locale == :en %><%= link_to "Français", set_language_french_path unless I18n.locale == :fr %></li>
		</ul>
	</nav>
  <div class="slides">
    <ul class="slides-container">
    		<% @slider.each do | slider | %>
	    		<li>
		        <%= image_tag slider[:image], :alt => slider[:alt] %>
		      </li>
	    	<% end %>
    </ul>
  </div>

	<%= link_to image_tag('logo-aventura.png', :alt => 'Aventura plein air', :class => 'logo', :width => 260, :height => 208), root_url, :class => 'logo' %>
		
	<ul class="social-nav">
		<li><%= link_to image_tag('facebook-icon.png', :alt => 'Facebook page'), 'https://www.facebook.com/aventurapleinair', :target => '_blank' %></li>
		<li><%= link_to image_tag('twitter.png', :alt => 'Twitter page'), 'https://twitter.com/AventuraQuebec', :target => '_blank' %></li>
		<li><%= link_to image_tag('googleplus-icon.png', :alt => 'Google + page'), 'https://plus.google.com/107605985634128095937', :target => '_blank', :rel => 'publisher' %></li>
		<li><%= link_to image_tag('pinterest-icon.png', :alt => 'Pinterest page', :width => 32 ), 'http://fr.pinterest.com/aventuraqc/', :target => '_blank', :rel => 'publisher'%></li>
	</ul>
	<%= link_to image_tag('xavier.png', :alt => 'Xavier Dachez', :class => 'xavier'), "http://xavierdachez.photodeck.com/", :target => "_blank" %>
	<nav class="main-nav">
		<h1><%= t(:"include.main_nav") %></h1>
		<ul>
			<li><%= link_to t(:"include.activities"), activity_index_url, :class => ('current' if params[:controller] == 'activity' or params[:controller] == 'activity_category' or params[:controller] == 'location') %></li>
			<li><%= link_to "Top 5", top_five_index_url, :class => ('current' if params[:controller] == 'top_five') %></li>
			<li><%= link_to t(:events), event_index_url, :class => ('current' if params[:controller] == 'event') %></li>
		</ul>
	</nav>
</header>
<div class="main content">