<header class="header">
	<nav class="options-nav">
		<ul>
			<li class="season" ><%= link_to t(:"include.winter"), set_season_winter_path if session[:season] == :summer or not session[:season] %><%= link_to t(:"include.summer"), set_season_summer_path if session[:season] == :winter %></li>
			<li class="language" ><%= link_to "English", set_language_english_path unless I18n.locale == :en %><%= link_to "Français", set_language_french_path unless I18n.locale == :fr %></li>
		</ul>
	</nav>
	<ul class="social-nav">
		<li><%= link_to image_tag('facebook-icon.png', :alt => 'Facebook page'), 'http://facebook.com', :target => '_blank' %></li>
		<li><%= link_to image_tag('googleplus-icon.png', :alt => 'Google + page'), 'http://plus.google.com', :target => '_blank' %></li>
		<li><%= link_to image_tag('twitter-icon.png', :alt => 'Twitter page'), 'http://twitter.com', :target => '_blank' %></li>
	</ul>
	<%= link_to image_tag('logo-aventura.png', :alt => 'Aventura plein air', :class => 'logo', :width => 260, :height => 211), root_url %>
	<div class="right-side">
		<%= form_tag({controller: "search", action: "index", method: "get"}, {:class => 'ok-form'}) do %>
			<input type="text" name="search" placeholder="<%= t(:"include.search") %>..." />
			<input type="submit" class="submit" value="Ok" />
		<% end %>
		<nav class="main-nav">
			<h1><%= t(:"include.main_nav") %></h1>
			<ul>
				<li><%= link_to t(:"include.activities"), activity_index_url %></li>
				<li><%= link_to t(:locations), location_index_url %></li>
				<li><%= link_to t(:events), event_index_url %></li>
				<li><span><%= 'Top 10' %></span>
					<ul class="sub-menu top-ten">
						<li><%= link_to t(:"locations"), top_location_index_url %>
						<li><%= link_to t(:"include.activities"), top_activity_index_url %>
						<li><%= link_to t(:events), top_event_index_url %>
					</ul>
				</li>
				<li><%= link_to 'Xavier Dachez', xavier_url %></li>
				<li><%= link_to t(:about), about_page_index_url %></li>
			</ul>
		</nav>
	</div>
</header>
<div class="main content">