<!-- app/views/admin/locations/_form.html.haml
-->
<%= semantic_form_for [:admin, @location], :html => { multipart: true }  do |f| %>
  <div class="language-tabs">
    <ul class="language-selection">
      <li>
        <%= link_to 'Français', "#lang-fr" %>
      </li>
      <% @location.translations.each do |lang| %>
        <% unless lang.locale == :fr %>
          <li>
            <%= link_to ADDITIONAL_LOCALES[lang.locale.to_sym], "#lang-#{lang.locale}" %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <div id="lang-fr">
      <%= f.inputs 'French Text' do %>
        <%= f.input :name, :label => 'Nom' %>
        <%= f.input :description, as: :html_editor, :label => 'Description' %>
        <%= f.input :address, :label => 'Adresse du lieu' %>
       <% end %>
    </div>
    <% index = 0 %>
    <%= f.semantic_fields_for :translations do |lf| %>
      <div id="lang-<%= lf.object.locale %>" style="<%= 'display: none;' if lf.object.locale == :fr %>">
        <%= lf.inputs "#{ADDITIONAL_LOCALES[lf.object.locale.to_sym]} Text" do %>
          <%= lf.input :name, :label => 'Nom' %>
          <%= lf.input :description, as: :html_editor, :label => 'Description' %>
          <%= lf.input :address, :label => 'Adresse du lieu' %>
          <%= lf.input :locale, :as => :hidden %>
        <% end %>
      </div>
      <% index += 1 %>
    <% end %>
  </div>
  <div class="not-translated">
  <%= f.inputs 'Champs non traduits' do %> 
    <%= f.input :website, :label => 'Site Web du lieu' %>
    <%= f.input :icon_list, :as => :file, :label => 'Image apparaissant dans dans la liste des lieux', :hint => (f.template.image_tag(f.object.icon_list.url(:thumb)) if f.object.icon_list?) %>
    <%= f.input :remove_icon_list, as: :boolean, required: false, label: "Retirer l'icon" if f.object.icon_list? %>
    <%= f.input :image, :as => :file, :label => 'Image du lieu 1', :hint => (f.template.image_tag(f.object.image.url(:thumb_menu)) if f.object.image?) %>
    <%= f.input :remove_first_image, as: :boolean, required: false, label: "Retirer l'image 1" if f.object.image? %>
    <%= f.input :second_image, :as => :file, :label => 'Image du lieu 2', :hint => (f.template.image_tag(f.object.second_image.url(:thumb_menu)) if f.object.second_image?) %>
    <%= f.input :remove_second_image, as: :boolean, required: false, label: "Retirer l'image 2" if f.object.second_image? %>
    <%= f.input :third_image, :as => :file, :label => 'Image du lieu 3', :hint => (f.template.image_tag(f.object.third_image.url(:thumb_menu)) if f.object.third_image?) %>
    <%= f.input :remove_third_image, as: :boolean, required: false, label: "Retirer l'image 3" if f.object.third_image? %>
    <%= f.input :fourth_image, :as => :file, :label => 'Image du lieu 4', :hint => (f.template.image_tag(f.object.fourth_image.url(:thumb_menu)) if f.object.fourth_image?) %>
    <%= f.input :remove_fourth_image, as: :boolean, required: false, label: "Retirer l'image 4" if f.object.fourth_image? %>
    <%= f.input :fifth_image, :as => :file, :label => 'Image du lieu 5', :hint => (f.template.image_tag(f.object.fifth_image.url(:thumb_menu)) if f.object.fifth_image?) %>
    <%= f.input :remove_fifth_image, as: :boolean, required: false, label: "Retirer l'image 5" if f.object.fifth_image? %>
    <%= f.input :city, :label => 'Ville' %>
    <%= f.input :postal_code, :label => 'Code postal' %>
    <%= f.input :phone, :label => 'Numéro de téléphone' %>
    <%= f.input :charge_free_phone, :label => 'Numéro de téléphone sans frais' %>
    <%= f.input :gps_latitude, :label => 'Latitude GPS' %>
    <%= f.input :gps_longitude, :label => 'Longitude GPS' %>
    <%= f.input :administrative_region, :label => 'Région administrative' %>
    <%= f.input :useful_infos, :label => 'Informations utiles', :as => :check_boxes %>
    <%= f.input :online, :label => 'En ligne' %>
  <% end %>
  <%= f.actions %>
  </div>
<% end %>

<script>
  
  $('.language-tabs').tabs();

</script>