<!-- app/views/admin/locations/_form.html.haml
-->
<%= semantic_form_for [:admin, @location], :html => { multipart: true }  do |f| %>
  <div class="language-tabs">
    <ul class="language-selection">
      <li>
        <%= link_to 'Français', "#lang-fr" %>
      </li>
      <% @location.translations.each do |lang| %>
        <% unless lang.locale == :fr %>
          <li>
            <%= link_to ADDITIONAL_LOCALES[lang.locale.to_sym], "#lang-#{lang.locale}" %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <div id="lang-fr">
      <%= f.inputs 'French Text' do %>
        <%= f.input :name, :label => 'Nom' %>
        <%= f.input :address, :label => 'Adresse du lieu' %>
        <%= f.input :services, as: :html_editor, :label => 'Services offerts' %>
        <%= f.input :interesting_stats, as: :html_editor, :label => 'Statistiques intéressants' %>
        <%= f.input :prizes, as: :html_editor, :label => 'Prix gagné par ce lieu' %>
        <%= f.input :other_distinctions, as: :html_editor, :label => 'Autres distinctions' %>
        <%= f.input :introduction, as: :html_editor, :label => 'Introduction' %>
        <%= f.input :other_infos, as: :html_editor, :label => 'Autres informations' %>
      <% end %>
    </div>
    <% index = 0 %>
    <%= f.semantic_fields_for :translations do |lf| %>
      <div id="lang-<%= lf.object.locale %>" style="<%= 'display: none;' if lf.object.locale == :fr %>">
        <%= lf.inputs "#{ADDITIONAL_LOCALES[lf.object.locale.to_sym]} Text" do %>
          <%= lf.input :name, :label => 'Nom' %>
          <%= lf.input :address, :label => 'Adresse du lieu' %>
          <%= lf.input :services, as: :html_editor, :label => 'Services offerts' %>
          <%= lf.input :interesting_stats, as: :html_editor, :label => 'Statistiques intéressants' %>
          <%= lf.input :prizes, as: :html_editor, :label => 'Prix gagné par ce lieu' %>
          <%= lf.input :other_distinctions, as: :html_editor, :label => 'Autres distinctions' %>
          <%= lf.input :introduction, as: :html_editor, :label => 'Introduction' %>
          <%= lf.input :other_infos, as: :html_editor, :label => 'Autres informations' %>
          <%= lf.input :locale, :as => :hidden %>
        <% end %>
      </div>
      <% index += 1 %>
    <% end %>
  </div>
  <div class="not-translated">
  <%= f.inputs 'Champs non traduits' do %> 
    <%= f.input :website, :label => 'Site Web du lieu' %>
    <%= f.input :image, :as => :file, :label => 'Image du lieu' %>
    <%= f.input :link, :label => 'Lien vers le site du lieu' %>
    <%= f.input :phone, :label => 'Numéro de téléphone' %>
    <%= f.input :charge_free_phone, :label => 'Numéro de téléphone sans frais' %>
    <%= f.input :gps_latitude, :label => 'Latitude GPS' %>
    <%= f.input :gps_longitude, :label => 'Longitude GPS' %>
    <%= f.input :administrative_region, :label => 'Région administrative' %>
    <%= f.input :useful_infos, :label => 'Informations utiles' %>
    <%= f.input :pub, :label => 'Publicité du bas de page' %>
    <%= f.input :online, :label => 'En ligne' %>
  <% end %>
  <%= f.actions %>
  </div>
<% end %>

<script>
  
  $('.language-tabs').tabs();

</script>