<!-- app/views/admin/locations/_form.html.haml
-->
<%= semantic_form_for [:admin, @location] do |f| %>
  <div class="language-tabs">
    <ul class="language-selection">
      <li>
        <%= link_to 'French', "#lang-fr" %>
      </li>
      <% @location.translations.each do |lang| %>
        <% unless lang.locale == :fr %>
          <li>
            <%= link_to ADDITIONAL_LOCALES[lang.locale.to_sym], "#lang-#{lang.locale}" %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <div id="lang-fr">
      <%= f.inputs 'French Text' do %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :website %>
        <%= f.input :services %>
        <%= f.input :interesting_stats %>
        <%= f.input :prizes %>
        <%= f.input :other_distinctions %>
        <%= f.input :introduction %>
        <%= f.input :other_infos %>
        <%= f.input :image %>
      <% end %>
    </div>
    <% index = 0 %>
    <%= f.semantic_fields_for :translations do |lf| %>
      <div id="lang-<%= lf.object.locale %>" style="<%= 'display: none;' if lf.object.locale == :fr %>">
        <%= lf.inputs "#{ADDITIONAL_LOCALES[lf.object.locale.to_sym]} Text" do %>
          <%= lf.input :name %>
          <%= lf.input :address %>
          <%= lf.input :website %>
          <%= lf.input :services %>
          <%= lf.input :interesting_stats %>
          <%= lf.input :prizes %>
          <%= lf.input :other_distinctions %>
          <%= lf.input :introduction %>
          <%= lf.input :other_infos %>
          <%= lf.input :image %>
          <%= lf.input :locale, :as => :hidden %>
        <% end %>
      </div>
      <% index += 1 %>
    <% end %>
  </div>
  <%= f.inputs do %> 
    <%= f.input :link %>
    <%= f.input :phone %>
    <%= f.input :charge_free_phone %>
    <%= f.input :gps_coord %>
    <%= f.input :ranking %>
    <%= f.input :ranking_amount %>
    <%= f.input :administrative_region %>
    <%= f.input :online %>
    <%= f.input :pub %>
    <%= f.input :useful_informations %>
  <% end %>
  <%= f.actions %>
<% end %>

<script>
  
  $('.language-tabs').tabs();

</script>