<!-- app/views/admin/events/_form.html.haml
-->
<%= semantic_form_for [:admin, @event] do |f| %>
  <div class="language-tabs">
    <ul class="language-selection">
      <li>
        <%= link_to 'Français', "#lang-fr" %>
      </li>
      <% @event.translations.each do |lang| %>
        <% unless lang.locale == :fr %>
          <li>
            <%= link_to ADDITIONAL_LOCALES[lang.locale.to_sym], "#lang-#{lang.locale}" %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <div id="lang-fr">
      <%= f.inputs 'French Text' do %>
        <%= f.input :name %>
        <%= f.input :federation %>
        <%= f.input :interesting_stats %>
        <%= f.input :history %>
        <%= f.input :description %>
        <%= f.input :other_infos %>
      <% end %>
    </div>
    <% index = 0 %>
    <%= f.semantic_fields_for :translations do |lf| %>
      <div id="lang-<%= lf.object.locale %>" style="<%= 'display: none;' if lf.object.locale == :fr %>">
        <%= lf.inputs "#{ADDITIONAL_LOCALES[lf.object.locale.to_sym]} Text" do %>
          <%= lf.input :name %>
          <%= lf.input :federation %>
          <%= lf.input :interesting_stats %>
          <%= lf.input :history %>
          <%= lf.input :description %>
          <%= lf.input :other_infos %>
          <%= lf.input :locale, :as => :hidden %>
        <% end %>
      </div>
      <% index += 1 %>
    <% end %>
  </div>
  <%= f.inputs 'Champs non traduits' do %>
    <%= f.input :image %>
    <%= f.input :website %>
    <%= f.input :federation_website %>
    <%= f.input :date_start %>
    <%= f.input :date_end %>
    <%= f.input :season %>
    <%= f.input :online %>
    <%= f.input :location %>
    <%= f.input :link %>
  <% end %>
  <%= f.actions %>
<% end %>

<script>
  
  $('.language-tabs').tabs();

</script>