<!-- app/views/admin/events/_form.html.haml
-->
<%= semantic_form_for [:admin, @event], :html => { multipart: true }  do |f| %>
  <div class="language-tabs">
    <ul class="language-selection">
      <li>
        <%= link_to 'Français', "#lang-fr" %>
      </li>
      <% @event.translations.each do |lang| %>
        <% unless lang.locale == :fr %>
          <li>
            <%= link_to ADDITIONAL_LOCALES[lang.locale.to_sym], "#lang-#{lang.locale}" %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <div id="lang-fr">
      <%= f.inputs 'French Text' do %>
        <%= f.input :name, :label => 'Nom' %>
        <%= f.input :federation, :label => 'Nom de la fédération' %>
        <%= f.input :description, as: :html_editor, :label => 'Description' %>
        <%= f.input :other_infos, as: :html_editor, :label => 'Autres informations' %>
      <% end %>
    </div>
    <% index = 0 %>
    <%= f.semantic_fields_for :translations do |lf| %>
      <div id="lang-<%= lf.object.locale %>" style="<%= 'display: none;' if lf.object.locale == :fr %>">
        <%= lf.inputs "#{ADDITIONAL_LOCALES[lf.object.locale.to_sym]} Text" do %>
          <%= lf.input :name, :label => 'Nom' %>
          <%= lf.input :federation, :label => 'Nom de la fédération' %>
          <%= lf.input :description, as: :html_editor, :label => 'Description' %>
          <%= lf.input :other_infos, as: :html_editor, :label => 'Autres informations' %>
          <%= lf.input :locale, :as => :hidden %>
        <% end %>
      </div>
      <% index += 1 %>
    <% end %>
  </div>
  <div class="not-translated">
  <%= f.inputs 'Champs non traduits' do %>
    <%= f.input :image, :as => :file, :label => 'Image de l\'événement 1', :hint => f.template.image_tag(f.object.image.url(:thumb_menu)) %>
    <%= f.input :second_image, :as => :file, :label => 'Image de l\'événement 2', :hint => f.template.image_tag(f.object.second_image.url(:thumb_menu)) %>
    <%= f.input :third_image, :as => :file, :label => 'Image de l\'événement 3', :hint => f.template.image_tag(f.object.third_image.url(:thumb_menu)) %>
    <%= f.input :fourth_image, :as => :file, :label => 'Image de l\'événement 4', :hint => f.template.image_tag(f.object.fourth_image.url(:thumb_menu)) %>
    <%= f.input :fifth_image, :as => :file, :label => 'Image de l\'événement 5', :hint => f.template.image_tag(f.object.fifth_image.url(:thumb_menu)) %>
    <%= f.input :website, :label => 'Site de l\'événement' %>
    <%= f.input :federation_website, :label => 'Site de la fédération' %>
    <%= f.input :date_start, :label => 'Date de début' %>
    <%= f.input :date_end, :label => 'Date de fin' %>
    <%= f.input :season, :label => 'Saison', :as => :check_boxes %>
    <%= f.input :location, :label => 'Lieux' %>
    <%= f.input :online, :label => 'En ligne' %>
  <% end %>
  <%= f.actions %>
  </div>
<% end %>

<script>
  
  $('.language-tabs').tabs();

</script>