<% title t(:"search.title") + " - " %>
<h1 class="stand-alone"><%= t(:"search.title") %></h1>
<h2><%= t(:"search.activity") %></h2>
<ul>
<% @activity.each do |activity| %>
	<li><%= link_to activity.name , activity_url(activity.id) %>
<% end %>
</ul>
<h2><%= t(:"search.location") %></h2>
<ul>
<% @location.each do |location| %>
	<li><%= link_to location.name , location_url(location.id) %>
<% end %>
</ul>
<h2><%= t(:"search.event") %></h2>
<ul>
<% @event.each do |event| %>
	<li><%= link_to event.name , event_url(event.id) %>
<% end %>
</ul>