<!-- app/views/admin/top_activities/_form.html.haml
-->

<%= semantic_form_for [:admin, @top_activity], :html => { multipart: true } do |f| %>
  <div class="not-translated">
  <%= f.inputs 'Champs non traduits' do %>
    <%= f.input :activities, :label => 'Activités du top 5', :as => :check_boxes %>
    <%= f.input :locations, :label => 'Lieux du top 5', :as => :check_boxes %>
  <% end %>
  <%= f.actions %>
  </div>
<% end %>

<script>
  
  $('.language-tabs').tabs();

</script>