<% title 'Accueil' %>
<div class="slider">
	<%= image_tag 'slider.png' %>
</div>
<h1 class="home-title">Aventura Plein air, la référence des activités de plein air au Québec</h1 class="home-title">
<section class="about-us">
	<h1>Qui sommes nous?</h1>
	<ul>
		<li><h2>Présentation du concept</h2></li>
		<li>Retrouvez toutes les activités de plein air non motorisées au Québec</li>
		<li>Des lieux diversifiés pour toutes les passions</li>
	</ul>
	<%= image_tag 'video-aventura.png' %>
	<ul>
		<li><h2>Aventura Plein air</h2></li>
		<li>Transmettre la passion du plein air</li>
		<li>Fair découvrir l'environnement incroyable du Québec</li>
	</ul>
</section>
<section class="featured">
	<h1>En vedette</h1>
	<div class="slider">
		<%= image_tag 'featured-slider.png' %>
	</div>
</section>
<aside class="sidebar-pub">
	<h1>Promotions</h1>
	<p>Texte description publicitaire Texte description publicitaire Texte description publicitaire Texte description publicitaire</p>
	<%= image_tag 'pub-sidebar.png' %>
</aside>
<aside class="bottom-pub">
	<%= image_tag 'pub-bottom.png' %>
</aside>