<% title 'Accueil' %>
<div class="slider">
	<%= image_tag 'slider.png' %>
</div>
<h1 class="home-title"><%= @home.title %></h1>
<section class="about-us">
	<h1>Qui sommes nous?</h1>
	<ul>
		<li><h2><%= @home.who_one_title %></h2></li>
		<li><%= @home.who_one_text.html_safe %></li>
	</ul>
	<iframe src="http://player.vimeo.com/video/<%= @video_id %>" width="365" height="250" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	<ul>
		<li><h2><%= @home.who_two_title %></h2></li>
		<li><%= @home.who_two_text.html_safe %></li>
	</ul>
</section>
<section class="featured">
	<h1>En vedette</h1>
	<div class="slider">
		<%= image_tag @home.featured_image %>
		<caption>
			<p><%= @home.featured_caption_place %></p>
			<h2><%= @home.featured_caption_activity %></h2>
		</caption>
	</div>
</section>
<aside class="sidebar-pub">
	<h1>Promotions</h1>
	<p><%= @home.promotion_text %></p>
	<%= image_tag @home.pub1.image_url if @home.pub1 %>
</aside>
<aside class="bottom-pub">
	<%= image_tag @home.pub2.image_url(:bottom_pub) if @home.pub2 %>
</aside>