<!-- app/views/admin/homes/_form.html.haml
-->
<%= semantic_form_for [:admin, @home], :html => { multipart: true } do |f| %>
  <div class="language-tabs">
    <ul class="language-selection">
      <li>
        <%= link_to 'Français', "#lang-fr" %>
      </li>
      <% @home.translations.each do |lang| %>
        <% unless lang.locale == :fr %>
          <li>
            <%= link_to ADDITIONAL_LOCALES[lang.locale.to_sym], "#lang-#{lang.locale}" %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <div id="lang-fr">
      <%= f.inputs 'Texte Français' do %>   
        <%= f.input :who_one_text, as: :html_editor, :label => 'Texte à gauche du vidéo' %>
        <%= f.input :who_two_text, as: :html_editor, :label => 'Texte à droite du vidéo' %>
        <%= f.input :who_video_link, :label => 'Lien du vidéo viméo' %>     
      <% end %>
    </div>
    <% index = 0 %>
    <%= f.semantic_fields_for :translations do |lf| %>
      <div id="lang-<%= lf.object.locale %>" style="<%= 'display: none;' if lf.object.locale == :fr %>">
        <%= lf.inputs "Texte #{ADDITIONAL_LOCALES[lf.object.locale.to_sym]}" do %>
          <%= lf.input :who_one_text, as: :html_editor, :label => 'Texte à gauche du vidéo' %>
          <%= lf.input :who_two_text, as: :html_editor, :label => 'Texte à droite du vidéo' %>
          <%= lf.input :who_video_link, :label => 'Lien du vidéo viméo' %>
          <%= lf.input :locale, :as => :hidden %>
        <% end %>
      </div>
      <% index += 1 %>
    <% end %>
  </div>
  <div class="not-translated">
    <%= f.inputs 'Champs non traduits' do %>
      <%= f.input :slider1, :as => :file, :label => "Image du slider 1" %>
      <%= f.input :slider2, :as => :file, :label => "Image du slider 2" %>
      <%= f.input :slider3, :as => :file, :label => "Image du slider 3" %>
      <%= f.input :slider4, :as => :file, :label => "Image du slider 4" %>
      <%= f.input :slider5, :as => :file, :label => "Image du slider 5" %>
    <% end %>
  <%= f.actions %>
  </div>
<% end %>

<script>
  
  $('.language-tabs').tabs();

</script>