<% title t(:locations) + " pour " + @activity.name + " - " %>
<% if false %>
<h1 class="activity-name"><%= @activity.name %></h1>

<%# if @useful_infos %>
  <form class="filters">
    <% @useful_infos.each do |useful_info| %>
      <label class="filters"><input type="checkbox" name="filter" class="filter" value="<%= useful_info.id %>" > <%= useful_info.name %></label>
    <%  end %>
  </form>
<% end %>

<h1 class="activity-locations"><%= @activity.name %> - Liste des lieux</h1>
<ul class="activity-locations">
  <% if @activity.locations %>
    <% l = 0 %>
    <% @activity.locations.each do |location| %>
      <% if location.online == true %>

        <li data-filter="<% if location.useful_infos %><% location.useful_infos.each do |useful_info| %><%= useful_info.id %> <%  end %><% end %>">
          <% if location.icon_list? %>
            <%= link_to image_tag(location.icon_list.url(:thumb)) + '<span>'.html_safe + location.name + '</span>'.html_safe, location_url(if location.slug then location.slug else location.id end) %></li>
          <% else %>
            <%= link_to '<span>'.html_safe + location.name + '</span>'.html_safe, location_url(if location.slug then location.slug else location.id end) %></li>
          <% end %>
        <% l = l + 1 %>
      <% end %>
    <% end %>
    <% if l == 0 %>
      <li><%= t(:"location.no_location") %></li>
    <% end %>
  <% else %>
    <li><%= t(:"location.no_location") %></li>
  <% end %>
</ul>