<% title @activity.name + " - " %>
<% meta_desc strip_tags(@activity.description) %>
<div class="title-rating">
	<h1><%= @activity.name %></h1>
	<% if false %>
	<div class="left star" data-activity-id="<%= @activity.id %>" >
	  <%= render '/activity_rating/rating', :@item => @activity %>
	</div>
	<% end %>
</div>
<div class="top">
	<div class="infos">
		<table>
			<% if @activity.season %>
				<tr>
					<td><%= t(:season) %>:</td>
					<td>
						<% @activity.season.each_with_index do |season, index| %>
							<%= ' / ' if index == 1 %> 
							<%= season.name %>
						<% end %>
					</td>
				</tr>
			<% end %>
			<% if @activity.federation %>
				<tr>
					<td><%= t(:federation) %>:</td>
					<td><%= link_to @activity.federation, @activity.website, :target => '_blank' %></td>
				</tr>
			<% end %>
		</table>
	</div>
	<div class="buttons">
		<%= link_to image_tag('where.png', :alt => "Où aller"), activity_locations_url(if @activity.slug then @activity.slug else @activity.id end), :class => 'where' %>

		<%= link_to image_tag('events.png', :alt => "Événements"), activity_events_url(if @activity.slug then @activity.slug else @activity.id end), :class => 'events' %>
	</div>
</div>
<div class="description">
	<h2>Description</h2>
	<p><%= @activity.description.html_safe if @activity.description %></p>
</div>	
<% if @activity.useful_links %>
	<section class="section useful-links">
		<h2><%= t(:"activity.useful_links") %></h2>
		<p><%= @activity.useful_links.html_safe %></p>
	</section>
<% end %>

<aside class="section adds">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- Leaderboard 728 X 90 -->
	<ins class="adsbygoogle"
	     style="display:inline-block;width:728px;height:90px"
	     data-ad-client="ca-pub-8461876942860834"
	     data-ad-slot="8992036702"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</aside>