<% title @activity.name + " - " %>
<div class="title-rating">
	<h1><%= @activity.name %></h1>
	<div class="left star" data-activity-id="<%= @activity.id %>" >
	  <%= render '/activity_rating/rating', :@item => @activity %>
	</div>
</div>
<div class="description">
	<p><%= @activity.description.html_safe if @activity.description %></p>
</div>	
<div class="top">
	<div class="infos">
		<table>
			<% if @activity.season %>
			<tr>
				<td><%= t(:season) %>:</td>
				<td>
					<% @activity.season.each_with_index do |season, index| %>
						<%= ' / ' if index == 1 %> 
						<%= season.name %>
					<% end %>
				</td>
			</tr>
			<% end %>
			<% if @activity.federation %>
			<tr>
				<td><%= t(:federation) %>:</td>
				<td><%= @activity.federation %></td>
			</tr>
			<% end %>
			<% if @activity.website? %>
			<tr>
				<td><%= t(:website) %></td>
				<td><%= link_to @activity.website, @activity.website, :target => '_blank' %></td>
			</tr>
			<% end %>
		</table>

		<h2><%= t(:"activity.particularity_title") %></h2>
		<p><%= @activity.particularity.html_safe if @activity.particularity %></p>
	</div>
	<div class="slider">
		<%= image_tag @activity.image.url(:thumb_slider) if @activity.image  %>
		<div class="caption">
			<p><%= @activity.image_caption_activity if @activity.image_caption_activity %></p>
			<strong><%= @activity.image_caption_location if @activity.image_caption_location %></strong>
		</div>
	</div>
</div>

<% if @video.code != 'false' %>
	<%= @video.code %>
<% end %>

<div class="bottom">
	<section class="section location">
		<h1><%= t(:locations) %></h1>
		<ul>
			<% if @activity.locations %>
			<%	l = 0 %>
				<% @activity.locations.each do |location| %>
					<% if location.online == true %>
						<li><%= link_to location.name, location_url(location.id) %></li>
						<% l = l + 1 %>
					<% end %>
				<% end %>
				<% if l == 0 %>
					<li><%= t(:"location.no_location") %></li>
				<% 	end %>
			<% else %>
				<li><%= t(:"location.no_location") %></li>
			<% 	end %>
		</ul>
	</section>
	<section class="section event">
		<h1><%= t(:events) %></h1>
		<ul>
			<% if @activity.events %> 
			<%	e = 0 %>
				<% @activity.events.each do |event| %>
					<% if event.online == true %>
						<li><%= link_to event.name, event_url(event.id) %></li>
						<% e = e + 1 %>
					<% end %>
				<% 	end %>
				<% if e == 0 %>
					<li><%= t(:"event.no_event") %></li>
				<% 	end %>
			<% else %>
				<li><%= t(:"event.no_event") %></li>
			<% end %>
		</ul>
	</section>
	<section class="section learn">
		<h1><%= t(:"activity.learn") %></h1>
		<div><%= if @activity.learn? then @activity.learn.html_safe else t(:"activity.learning") end %></div>
	</section>
	<section class="section equipments">
		<h1><%= t(:"activity.equipments") %></h1>
		<div><%= if @activity.equipment? then @activity.equipment.html_safe else t(:"activity.equipment") end %></div>
	</section>
</div>

<% if @activity.useful_links %>
	<section class="section useful-links">
		<h2><%= t(:"activity.useful_links") %></h2>
		<p><%= @activity.useful_links.html_safe %></p>
	</section>
<% end %>

<% if @activity.other_infos %>
	<section class="section other-infos">
		<h2><%= t(:"activity.other_infos") %></h2>
		<p><%= @activity.other_infos.html_safe %></p>
	</section>
<% end %>

<section class="section comments">
	<h2><%= t(:"activity.comments.first_part") %><%= @activity.name %><%= t(:"activity.comments.second_part") %></h2>
	<div class="comments-list">
		<%= render 'comments/comment', :comments => @activity.comments.where("approved = true").limit(5) %>
	</div> 
	<% if @activity.comments.where("approved = true").length > 5 %>
		<a href="javascript:" class="show-more"><%= t(:"activity.comments.more") %></a>
	<% end %>

	<%= form_for(@activity, :url => :new_activity_comment, :html => { :method => :get }, remote: true) do |f| %>
		<p class="error">Veuillez remplir tout les champs correctement</p>
		<p class="sent">Votre commentaire a été envoyé et sera approuvé sous peu.</p>
		<%= f.label :user_name, "#{t(:"activity.comments.fields.name")}:" %>
	  <input type="text" id="user_name" name="user_name" />
	  <%= f.label :user_email, "#{t(:"activity.comments.fields.email")}:" %>
	  <input type="email" id="user_email" name="user_email" />
	  <%= f.label :comment, "#{t(:"activity.comments.fields.comment")}:" %>
	  <textarea id="comment" class="not-shown" name="comment" placeholder="<%= t(:"activity.comments.fields.comment_placeholder") %>"></textarea>
	  <%= submit_tag("#{t(:"activity.comments.fields.send")}") %>
	<% end %>
</section>

<aside class="aside pub">
	<%= image_tag @activity.pub.image.url(:bottom_pub) if @activity.pub %>
</aside>