<% title t(:"event.title") + " - " %>
<section class="section single">
	<p><%= @eventText.text_top.html_safe %></p>
</section>
<table class="activity-events">
  <tr>
    <th>Dates</th>
    <th><%= t(:events) %></th>
  </tr>
  <% if @events %>
    <% e = 0 %>
    <% @events.each do |event| %>
      <% if event.online == true && (event.date_start.future? || (event.date_end && event.date_end.future?)) %>
        <tr>
          <td><%= l event.date_start, format: :long %>
            <% if event.date_end %>
              <%= t(:to) %> <%= l event.date_end, format: :long %>
            <% end %>
          </td>
          <td><%= link_to event.name, event_url(if event.slug then event.slug else event.id end) %></td>
        </tr>
        <% e = e + 1 %>
      <% end %>
    <% end %>
    <% if e == 0 %>
      <tr>
        <td colspan="2"><%= t(:"event.no_event") %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="2"><%= t(:"event.no_event") %></td>
    </tr>
  <% end %>
</table>
