<% title t(:contact) + ' - ' %>
<h1 class="stand-alone"><%= t(:contact)%></h1>
<h2><%= t(:email)%> : info@aventurapleinair.com</h2>
<h2><%= t(:phone)%> : 418-998-5824</h2>

<div class="max">
	<p>Maxime Paré</p>
	<%= image_tag "max.png", :width => 250 %>
</div>
<div class="phil">
	<p>Philippe Fortier</p>
	<%= image_tag "phil.png", :width => 250 %>
</div>

<%= image_tag "contact-bottom.jpg", :width => 950 %>