<% title "Top 5 - " %>
<section class="list activities">
	<h2><%= t(:"include.activities") %></h2>
	<ul class="top-locations">
	  <% if @topActivities %>
	    <% l = 0 %>
	    <% @topActivities.each do |top| %>
	      <% if top.activity.online == true %>

	        <li>
	          <% if top.activity.icon_list? %>
	            <%= link_to image_tag(top.activity.icon_list.url(:thumb)) + '<span>'.html_safe + top.activity.name + '</span>'.html_safe, activity_url(if top.activity.slug then top.activity.slug else top.activity.id end) %></li>
	          <% else %>
	            <%= link_to '<span>'.html_safe + top.activity.name + '</span>'.html_safe, activity_url(if top.activity.slug then top.activity.slug else top.activity.id end) %></li>
	          <% end %>
	        <% l = l + 1 %>
	      <% end %>
	    <% end %>
	    <% if l == 0 %>
	      <li><%= t(:"location.no_location") %></li>
	    <% end %>
	  <% else %>
	    <li><%= t(:"location.no_location") %></li>
	  <% end %>
	</ul>
</section>
<section class="list locations">
	<h2><%= t(:locations) %></h2>
	<ul class="top-locations">
	  <% if @topLocations %>
	    <% l = 0 %>
	    <% @topLocations.each do |top| %>
	      <% if top.location.online == true %>

	        <li data-filter="<% if top.location.useful_infos %><% top.location.useful_infos.each do |useful_info| %><%= useful_info.id %> <%  end %><% end %>">
	          <% if top.location.icon_list? %>
	            <%= link_to image_tag(top.location.icon_list.url(:thumb)) + '<span>'.html_safe + top.location.name + '</span>'.html_safe, location_url(if top.location.slug then top.location.slug else top.location.id end) %></li>
	          <% else %>
	            <%= link_to '<span>'.html_safe + top.location.name + '</span>'.html_safe, location_url(if top.location.slug then top.location.slug else top.location.id end) %></li>
	          <% end %>
	        <% l = l + 1 %>
	      <% end %>
	    <% end %>
	    <% if l == 0 %>
	      <li><%= t(:"location.no_location") %></li>
	    <% end %>
	  <% else %>
	    <li><%= t(:"location.no_location") %></li>
	  <% end %>
	</ul>
</section>