<% title @location.name %>
<h1><%= @location.name %></h1>

<%= image_tag @location.image_url(:bottom_pub) if @location.image  %>
<div class="left">
	<section class="activities">
		<h2><%= t(:"location.location_activities") %></h2>
		<ul>
			<% @location.activities.each do |activity| %>
			<li><%= link_to activity.name, activity_url(activity.id) %></li>
		<% end %>
		</ul>
	</section>

	<section class="useful-informations">
		<h2><%= t(:"location.useful_infos") %></h2>
		<ul>
		<% if @location.useful_infos %>
			<% @location.useful_infos.each do |useful_info| %>
				<li><%= image_tag useful_info.icon_url(:icon_size) %><%= useful_info.name %></li>
			<% 	end %>
		<% 	end %>
		</ul>
	</section>

	<address>
		<%= t(:address) %>: <%= @location.address %><br />
		<%= t(:phone) %>: <%= @location.phone %><br />
		<% if @location.charge_free_phone %>
			<%= t(:"toll_free") %>: <%= @location.charge_free_phone %><br />
		<% end %>
		<% if @location.website %>
			<%= @location.website %><br />
		<% end %>
	</address>
</div>
<div class="right">
	<section class="weather">
		<% @weather['weather'].each do |weather| %>
			<%= weather['main'] %>
		<% end %>
	</section>

	<section class="map">
	</section>

	<section class="events">
	</section>
</div>
<aside class="bottom-pub">
	<%= image_tag @location.pub.image_url(:bottom_pub) if @location.pub %>
</aside>
