<% title @location.name %>
<h1><%= @location.name %></h1>
<div class="left star" data-location-id="<%= @location.id %>" >
  <%= render '/location_rating/rating', :@item => @location %>
</div>

<%= image_tag @location.image.url(:full_width) if @location.image  %>
<div class="left">
	<section class="activities">
		<h2><%= t(:"location.location_activities") %></h2>
		<ul>
			<% @location.activities.each do |activity| %>
			<li><%= link_to activity.name, activity_url(activity.id) %></li>
		<% end %>
		</ul>
	</section>

	<section class="useful-informations">
		<h2><%= t(:"location.useful_infos") %></h2>
		<ul>
		<% if @location.useful_infos %>
			<% @location.useful_infos.each do |useful_info| %>
				<li><div><%= image_tag useful_info.icon.url(:icon) %></div><%= useful_info.name %></li>
			<% 	end %>
		<% 	end %>
		</ul>
		<%= link_to 'Consulter', @location.link %>
	</section>

	<address>
		<%= t(:address) %>: <%= @location.address %><br />
		<%= t(:phone) %>: <%= @location.phone %><br />
		<% if @location.charge_free_phone %>
			<%= t(:"toll_free") %>: <%= @location.charge_free_phone %><br />
		<% end %>
		<% if @location.website %>
			<br /><%= link_to @location.website, @location.website %><br />
		<% end %>
	</address>
</div>
<%= @json %>
<div class="right">
	<section class="weather">
		<% @weather['weather'].each do |weather| %>
			<%= image_tag "weather/#{weather['icon']}.png" %>
			<p>
				<strong class="tmp"><%= @weather['main']['temp'].round %>°</strong>
				<br/>
				<strong class="desc"><%= t "location.meteo.#{weather['id']}" %></strong>
			</p>
		<% end %>
		
	</section>

	<section class="map">
		<div id="map-canvas" style="width: 285px; height: 285px"></div>
	</section>

	<section class="events">
		<%= link_to 'Événements', event_index_url %>
	</section>
</div>
<aside class="bottom-pub">
	<%= image_tag @location.pub.image.url(:bottom_pub) if @location.pub %>
</aside>
<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?sensor=true">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(<%= @location.gps_latitude %>, <%= @location.gps_longitude %>),
          zoom: 8
        };
        
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>