<!-- app/views/admin/activities/_form.html.haml
-->
<%= semantic_form_for [:admin, @activity], :html => { multipart: true } do |f| %>
  <div class="language-tabs">
    <ul class="language-selection">
      <li>
        <%= link_to 'Français', "#lang-fr" %>
      </li>
      <% @activity.translations.each do |lang| %>
        <% unless lang.locale == :fr %>
          <li>
            <%= link_to ADDITIONAL_LOCALES[lang.locale.to_sym], "#lang-#{lang.locale}" %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <div id="lang-fr">
      <%= f.inputs 'French Text' do %>
        <%= f.input :name, :label => 'Nom' %>
        <%= f.input :federation, :label => 'Nom de la fédération' %>
        <%= f.input :description, as: :html_editor, :label => 'Description' %>
        <%= f.input :particularity, as: :html_editor, :label => 'Particularité' %>
        <%= f.input :other_infos, as: :html_editor, :label => 'Autres informations' %>
        <%= f.input :learn, as: :html_editor, :label => 'Informations pour apprendre' %>
        <%= f.input :equipment, as: :html_editor, :label => 'Équipements nécessaires' %>
        <%= f.input :useful_links, as: :html_editor, :label => 'Liens utiles' %>
        <%= f.input :image_caption_activity, :label => 'Sous titre de l\'image désignant l\'activité pratiqué' %>
        <%= f.input :image_caption_location, :label => 'Sous titre de l\'image désignant le lieux' %>
        <%# f.input :image_caption_text, :label => 'Bulle de texte dans le coin de l\'image' %>
        <%= f.input :video_link, :label => 'Lien du vidéo' %>
      <% end %>
    </div>
    <% index = 0 %>
    <%= f.semantic_fields_for :translations do |lf| %>
      <div id="lang-<%= lf.object.locale %>" style="<%= 'display: none;' if lf.object.locale == :fr %>">
        <%= lf.inputs "#{ADDITIONAL_LOCALES[lf.object.locale.to_sym]} Text" do %>
          <%= lf.input :name, :label => 'Nom' %>
          <%= lf.input :federation, :label => 'Nom de la fédération' %>
          <%= lf.input :description, as: :html_editor, :label => 'Description' %>
          <%= lf.input :particularity, as: :html_editor, :label => 'Particularité' %>
          <%= lf.input :other_infos, as: :html_editor, :label => 'Autres informations' %>
          <%= lf.input :learn, as: :html_editor, :label => 'Informations pour apprendre' %>
          <%= lf.input :equipment, as: :html_editor, :label => 'Équipements nécessaires' %>
          <%= lf.input :useful_links, as: :html_editor, :label => 'Liens utiles' %>
          <%= lf.input :image_caption_activity, :label => 'Sous titre de l\'image désignant l\'activité pratiqué' %>
          <%= lf.input :image_caption_location, :label => 'Sous titre de l\'image désignant le lieux' %>
          <%# lf.input :image_caption_text, :label => 'Bulle de texte dans le coin de l\'image' %>
          <%= lf.input :video_link, :label => 'Lien du vidéo' %>
          <%= lf.input :locale, :as => :hidden %>
        <% end %>
      </div>
      <% index += 1 %>
    <% end %>
  </div>
  <div class="not-translated">
  <%= f.inputs 'Champs non traduits' do %>
    <%= f.input :website, :label => 'Site web de l\'activité' %>
    <%= f.input :image, :as => :file, :label => 'Image de l\'activité' %>
    <%= f.input :season, :label => 'Saison' %>
    <%= f.input :activity_category, :label => 'Catégorie de l\'activité' %>
    <%= f.input :locations, :label => 'Lieux de l\'activité', :as => :check_boxes %>
    <%= f.input :events, :label => 'Énévements en lien avec l\'activité', :as => :check_boxes %>
    <%= f.input :pub, :label => 'Publicité au bas' %>
    <%= f.input :online, :label => 'En ligne' %>
  <% end %>
  <%= f.actions %>
  </div>
<% end %>

<script>
  
  $('.language-tabs').tabs();

</script>