<!-- app/views/admin/activities/_form.html.haml
-->
<%= semantic_form_for [:admin, @activity] do |f| %>
  <div class="language-tabs">
    <ul class="language-selection">
      <li>
        <%= link_to 'Français', "#lang-fr" %>
      </li>
      <% @activity.translations.each do |lang| %>
        <% unless lang.locale == :fr %>
          <li>
            <%= link_to ADDITIONAL_LOCALES[lang.locale.to_sym], "#lang-#{lang.locale}" %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <div id="lang-fr">
      <%= f.inputs 'French Text' do %>
        <%= f.input :name %>
        <%= f.input :federation %>
        <%= f.input :description, as: :html_editor %>
        <%= f.input :particularity, as: :html_editor %>
        <%= f.input :other_infos, as: :html_editor %>
        <%= f.input :learn, as: :html_editor %>
        <%= f.input :equipment, as: :html_editor %>
        <%= f.input :useful_links, as: :html_editor %>
        <%= f.input :video_link %>
      <% end %>
    </div>
    <% index = 0 %>
    <%= f.semantic_fields_for :translations do |lf| %>
      <div id="lang-<%= lf.object.locale %>" style="<%= 'display: none;' if lf.object.locale == :fr %>">
        <%= lf.inputs "#{ADDITIONAL_LOCALES[lf.object.locale.to_sym]} Text" do %>
          <%= lf.input :name %>
          <%= lf.input :federation %>
          <%= lf.input :description, as: :html_editor %>
          <%= lf.input :particularity, as: :html_editor %>
          <%= lf.input :other_infos, as: :html_editor %>
          <%= lf.input :learn, as: :html_editor %>
          <%= lf.input :equipment, as: :html_editor %>
          <%= lf.input :useful_links, as: :html_editor %>
          <%= lf.input :video_link %>
          <%= lf.input :locale, :as => :hidden %>
        <% end %>
      </div>
      <% index += 1 %>
    <% end %>
  </div>
  <div class="not-translated">
  <%= f.inputs 'Champs non traduits' do %>
    <%= f.input :website %>
    <%= f.input :image %>
    <%= f.input :season %>
    <%= f.input :activity_category %>
    <%= f.input :locations %>
    <%= f.input :events %>
    <%= f.input :pub %>
    <%= f.input :online %>
  <% end %>
  <%= f.actions %>
  </div>
<% end %>

<script>
  
  $('.language-tabs').tabs();

</script>