<!-- app/views/admin/activities/_form.html.haml
-->
<%= semantic_form_for [:admin, @activity], :html => { multipart: true } do |f| %>
  <div class="language-tabs">
    <ul class="language-selection">
      <li>
        <%= link_to 'Français', "#lang-fr" %>
      </li>
      <% @activity.translations.each do |lang| %>
        <% unless lang.locale == :fr %>
          <li>
            <%= link_to ADDITIONAL_LOCALES[lang.locale.to_sym], "#lang-#{lang.locale}" %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <div id="lang-fr">
      <%= f.inputs 'French Text' do %>
        <%= f.input :name, :label => 'Nom' %>
        <%= f.input :federation, :label => 'Nom de la fédération' %>
        <%= f.input :description, as: :html_editor, :label => 'Description' %>
        <%= f.input :useful_links, as: :html_editor, :label => 'Liens utiles' %>
      <% end %>
    </div>
    <% index = 0 %>
    <%= f.semantic_fields_for :translations do |lf| %>
      <div id="lang-<%= lf.object.locale %>" style="<%= 'display: none;' if lf.object.locale == :fr %>">
        <%= lf.inputs "#{ADDITIONAL_LOCALES[lf.object.locale.to_sym]} Text" do %>
          <%= lf.input :name, :label => 'Nom' %>
          <%= lf.input :federation, :label => 'Nom de la fédération' %>
          <%= lf.input :description, as: :html_editor, :label => 'Description' %>
          <%= lf.input :useful_links, as: :html_editor, :label => 'Liens utiles' %>
          <%= lf.input :locale, :as => :hidden %>
        <% end %>
      </div>
      <% index += 1 %>
    <% end %>
  </div>
  <div class="not-translated">
  <%= f.inputs 'Champs non traduits' do %>
    <%= f.input :website, :label => 'Site web de l\'activité' %>
    <%= f.input :icon_list, :as => :file, :label => 'Image apparaissant dans dans la liste des activités' %>
    <%= f.input :image, :as => :file, :label => 'Image de l\'activité 1' %>
    <%= f.input :second_image, :as => :file, :label => 'Image de l\'activité 2' %>
    <%= f.input :third_image, :as => :file, :label => 'Image de l\'activité 3' %>
    <%= f.input :fourth_image, :as => :file, :label => 'Image de l\'activité 4' %>
    <%= f.input :fifth_image, :as => :file, :label => 'Image de l\'activité 5' %>
    <%= f.input :season, :label => 'Saison', :as => :check_boxes %>
    <%= f.input :activity_category, :label => 'Catégorie de l\'activité' %>
    <%= f.input :locations, :label => 'Lieux de l\'activité', :as => :check_boxes %>
    <%= f.input :events, :label => 'Énévements en lien avec l\'activité', :as => :check_boxes %>
    <%= f.input :online, :label => 'En ligne' %>
  <% end %>
  <%= f.actions %>
  </div>
<% end %>

<script>
  
  $('.language-tabs').tabs();

</script>