<!-- app/views/admin/footer_texts/_form.html.haml
-->
<%= semantic_form_for [:admin, @footer_text], :html => { multipart: true } do |f| %>
  <div class="language-tabs">
    <ul class="language-selection">
      <li>
        <%= link_to 'Français', "#lang-fr" %>
      </li>
      <% @footer_text.translations.each do |lang| %>
        <% unless lang.locale == :fr %>
          <li>
            <%= link_to ADDITIONAL_LOCALES[lang.locale.to_sym], "#lang-#{lang.locale}" %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <div id="lang-fr">
      <%= f.inputs 'Texte Français' do %>     
        <%= f.input :max_title, :label => 'Titre pour le texte de Maxime' %>
        <%= f.input :max_subtitle, :label => 'Sous titre pour le texte de Maxime' %>
        <%= f.input :max_text, :as => :html_editor, :label => 'Texte de Maxime' %>
        <%= f.input :photograph_title, :label => 'Titre pour le texte du photographe' %>
        <%= f.input :photograph_subtitle, :label => 'Sous titre pour le texte du photographe' %>
        <%= f.input :photograph_text, :as => :html_editor, :label => 'Texte du photographe' %>
      <% end %>
    </div>
    <% index = 0 %>
    <%= f.semantic_fields_for :translations do |lf| %>
      <div id="lang-<%= lf.object.locale %>" style="<%= 'display: none;' if lf.object.locale == :fr %>">
        <%= lf.inputs "Texte #{ADDITIONAL_LOCALES[lf.object.locale.to_sym]}" do %>
          <%= lf.input :max_title, :label => 'Titre pour le texte de Maxime' %>
          <%= lf.input :max_subtitle, :label => 'Sous titre pour le texte de Maxime' %>
          <%= lf.input :max_text, :as => :html_editor, :label => 'Texte de Maxime' %>
          <%= lf.input :photograph_title, :label => 'Titre pour le texte du photographe' %>
          <%= lf.input :photograph_subtitle, :label => 'Sous titre pour le texte du photographe' %>
          <%= lf.input :photograph_text, :as => :html_editor, :label => 'Texte du photographe' %>
          <%= lf.input :locale, :as => :hidden %>
        <% end %>
      </div>
      <% index += 1 %>
    <% end %>
  </div>
  <div class="not-translated">
  <%= f.inputs 'Champs non traduits' do %> 
    <%= f.input :background_image, :as => :file, :label => 'Image d\'arrière plan du site' %>
    <%= f.input :max_image, :as => :file, :label => 'Image pour le texte de Maxime' %>
    <%= f.input :photograph_image, :as => :file, :label => 'Image pour le texte du photographe' %>
  <% end %>
  <%= f.actions %>
  </div>
<% end %>

<script>
  
  $('.language-tabs').tabs();

</script>