<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	
	<% if yield(:meta_desc) != '' %>
		<meta name="description" content="<%= yield(:meta_desc) %>">
	<% else %>
		<meta name="description" content="Vous trouverez sur ce site web toutes les activités, tous les lieux et tous les événements qui animent la passion du plein air au Québec!">
	<% end %>
	<meta name="viewport" content="width=device-width">	
	<link rel="icon" type="image/png" href="<%= asset_path 'favicon.png' %>">

	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	
	<script src="/assets/html5.js"></script>

	<title>404 - Aventura Plein Air Québec</title>
	
	<%= csrf_meta_tags %>
	<script>
    var _gaq=[['_setAccount','UA-44635891-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src='//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
</head>
<body class="section-errors">
	<header class="header">
	<nav class="options-nav">
		
		<%= form_tag({controller: "search", action: "index", method: "get"}, {:class => 'ok-form'}) do %>
			<input type="text" name="search" placeholder="<%= t(:"include.search") %>..." />
			<input type="submit" class="submit" value="Ok" />
		<% end %>
		<ul>
			<li class="language" ><%= link_to "English", set_language_english_path unless I18n.locale == :en %><%= link_to "Français", set_language_french_path unless I18n.locale == :fr %></li>
		</ul>
	</nav>

  <div class="slides">
    <ul class="slides-container">
      <li>
        <%= image_tag('slider.png', :alt => 'slider') %>
      </li>
      <li>
        <%= image_tag('slider1.png', :alt => 'slider') %>
      </li>
    </ul>
  </div>

	<%= link_to image_tag('logo-aventura.png', :alt => 'Aventura plein air', :class => 'logo', :width => 260, :height => 211), root_url, :class => 'logo' %>
		
	<ul class="social-nav">
		<li><%= link_to image_tag('facebook-icon.png', :alt => 'Facebook page'), 'https://www.facebook.com/aventurapleinair', :target => '_blank' %></li>
		<li><%= link_to image_tag('twitter-icon.png', :alt => 'Twitter page'), 'https://twitter.com/AventuraQuebec', :target => '_blank' %></li>
		<li><%= link_to image_tag('googleplus-icon.png', :alt => 'Google + page'), 'https://plus.google.com/107605985634128095937', :target => '_blank', :rel => 'publisher' %></li>
		<li><%= link_to image_tag('pinterest-icon.png', :alt => 'Pinterest page', :width => 32 ), 'http://fr.pinterest.com/aventuraqc/', :target => '_blank', :rel => 'publisher'%></li>
	</ul>
	<%= link_to image_tag('xavier.png', :alt => 'Xavier Dachez', :class => 'xavier'), "http://xavierdachez.photodeck.com/", :target => "_blank" %>
	<nav class="main-nav">
		<h1><%= t(:"include.main_nav") %></h1>
		<ul>
			<li><%= link_to t(:"include.activities"), activity_index_url, :class => ('current' if params[:controller] == 'activity' or params[:controller] == 'activity_category' or params[:controller] == 'location') %></li>
			<li><%= link_to "Top 5", top_location_index_url, :class => ('current' if params[:controller] == 'top_five') %></li>
			<li><%= link_to t(:events), event_index_url, :class => ('current' if params[:controller] == 'event') %></li>
		</ul>
	</nav>
</header>
<div class="main content">
		<h1 class="stand-alone"><%= t(:"not_found.title") %></h1>
		<p><%= t(:"not_found.text") %></p>
		<%= link_to t(:"not_found.link"), root_path %>
	</div>
<footer class="footer">
	<div class="footer-wrapper">
			<%= link_to image_tag('logo-aventura.png', :alt => 'Aventura plein air', :width => 180), root_url, :class => 'logo' %>
		<div class="footer-right">
			<nav class="footer-nav">
				<h1><%= t(:"include.footer_nav") %></h1>
				<ul>
					<li><%= link_to t(:"include.activities"), activity_index_url %></li>
					<li><%= 'Top 5' %></li>
					<li><%= link_to t(:events) , event_index_url %></li>
					<li><%= link_to t(:contact), contact_path, :class => 'politic' %></li>
					<li><%= link_to "Xavier Dachez", "http://xavierdachez.photodeck.com/", :target => "_blank" %></li>
					<li><%= link_to t(:about), about_page_index_url %></li>
				</ul>
			</nav>
			<div class="links">
				<%= link_to 'Avis politique', politique_path, :class => 'politic' %>
			</div>
		</div>
	</div>
</footer>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	
  <script>
    $(function() {
      $('.slides').superslides({
        inherit_width_from: '.slides',
        inherit_height_from: '.slides',
        play: 5000,
        animation: 'fade'
      });

      $('.slides').on('mouseenter', function() {
        $(this).superslides('stop');
      });
      $('.slides').on('mouseleave', function() {
        $(this).superslides('start');
      });
    });
    
  </script>
</body>
</html>
