<!-- app/views/admin/adminitrative_regions/_form.html.haml
-->
<%= semantic_form_for [:admin, @pub], :html => { multipart: true }  do |f| %>
  <div class="language-tabs">
    <div id="lang-fr">
      <%= f.inputs 'Informations utile' do %>
        <%= f.input :pub_type %>
        <%= f.input :name %>
        <%= f.input :image, :as => :file %>
      <% end %>
    </div>
  </div>
  <%= f.actions %>
<% end %>

<script>
  
  $('.language-tabs').tabs();

</script>