<!-- app/views/admin/adminitrative_regions/_form.html.haml
-->
<%= semantic_form_for [:admin, @pub], :html => { multipart: true }  do |f| %>
  <div class="language-tabs">
    <div id="lang-fr">
      <%= f.inputs 'Informations utile' do %>
        <%= f.input :pub_type, :label => 'Type de publicité (côté ou bas de page)' %>
        <%= f.input :name, :label => 'Nom' %>
        <%= f.input :image, :as => :file, :label => 'Image de la publicité' %>
      <% end %>
    </div>
  </div>
  <%= f.actions %>
<% end %>

<script>
  
  $('.language-tabs').tabs();

</script>