<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	<title>Aventura plein air - <%= yield(:title) || "Québec" %></title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	
	<%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
