<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	
	<% if yield(:meta_desc) != '' %>
		<meta name="description" content="<%= yield(:meta_desc) %>">
	<% else %>
		<meta name="description" content="Vous trouverez sur ce site web toutes les activités, tous les lieux et tous les événements qui animent la passion du plein air au Québec!">
	<% end %>
	<meta name="viewport" content="width=device-width">	
	<link rel="icon" type="image/png" href="<%= asset_path 'favicon.png' %>">

	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	
	<script src="/assets/html5.js"></script>

	<title><%= yield(:title) %>Aventura Plein Air Québec</title>
	
	<%= csrf_meta_tags %>
	<script>
    var _gaq=[['_setAccount','UA-44635891-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src='//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
</head>
<body class="section<%= '-' + params[:controller] %>">
	<%= render :partial => 'includes/header' %>
	<%= yield %>
	<%= render :partial => 'includes/footer' %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	
  <script>
  	var filterLocations = function () {
  		$('.activity-locations li').hide()
  		$('label.filters.checked input').each(function () {
  			var value = $(this).val(),liList = [];
				liList = $('.activity-locations li').filter(function() {
			  		console.log($(this).data('filter') + ' :filter')
			  		console.log(value + ': value')
			  	if ($.inArray(value, $(this).data('filter')) >= 0) {
			  		$(this).show();
			  	}
				});
  		});
  	}

			
    $(function() {
    	
      $('.slides').superslides({
        inherit_width_from: '.slides',
        inherit_height_from: '.slides',
        play: 5000,
        <% if @slider.length <= 1 %>
        play: 0,
     		<% end %>
        animation: 'fade'
      });

      <% if @slider.length > 1 %>
	      $('.slides').on('mouseenter', function() {
	        $(this).superslides('stop');
	      });
	      $('.slides').on('mouseleave', function() {
	        $(this).superslides('start');
	      });
     	<% end %>

      $('label.filters').on('click', function (event) {
        event.preventDefault();
        if ($(this).hasClass('checked')) {
				  $(this).removeClass('checked');
				}
				else {
					$(this).addClass('checked');
				}
				if ($('label.filters.checked').length > 0) {
					filterLocations();
				}
				else {
					$('.activity-locations li').show();
				}
	    });
    });
    
  </script>
</body>
</html>
