<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<title><%= yield(:title) + ' - ' %>Aventura plein air </title>
	<% if @footer_content.background_image %>
	<style>
		body {
			background: url("<%= @footer_content.background_image %>") no-repeat;
		}
	</style>
	<% end %>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	
	<%= csrf_meta_tags %>
</head>
<body class="section<%= '-' + params[:controller] %>">
	<%= render :partial => 'includes/header' %>
	<%= yield %>
	<%= render :partial => 'includes/footer' %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
