<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	
	
	<script src="/assets/html5.js"></script>
	

	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<!--[if IE 8]>
		<link rel="stylesheet" type="text/css" href="/assets/global.css">
	<![endif]-->

	<title><%= yield(:title) %>Aventura plein air </title>
	<% if @footer_content.background_image %>
		<style>
			body {
				background: url("<%= @footer_content.background_image %>") no-repeat;
				background-attachment: fixed
			}
		</style>
	<% end %>
	
	<%= csrf_meta_tags %>
</head>
<body class="section<%= '-' + params[:controller] %>">
	<%= render :partial => 'includes/header' %>
	<%= yield %>
	<%= render :partial => 'includes/footer' %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<% if params[:controller] == 'activity' %>
		<%= javascript_tag do %>
			$(document).ready(function() {
			  $('.show-more').on('click', function () {
			    $('.comments-list').html("<%= render "comments/comment", :comments => @activity.comments.where("approved = true") %>");
			    $('.show-more').hide();
			  })
			});
		<% end %>
	<% end %>
</body>
</html>
